/* Labels */
.google-visualization-controls-theme-plus .google-visualization-controls-label {
  color: #333;
  line-height: 27px;
  font-size: 13px;
}

/* StringFilter */
.google-visualization-controls-theme-plus .google-visualization-controls-stringfilter INPUT {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  color: #222;
  line-height:30px;
  height: 30px; 
  width: 60%;
  padding-left: 4px;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
  transition: 0.5s;
}

.google-visualization-controls-theme-plus .google-visualization-controls-stringfilter INPUT:focus {
  border: 2px solid #303030;
  outline: none;
  transition: 0.5s;
}

/* CategoryFilter */

/* CategoryFilter: Button style for dropdown category filters */
.google-visualization-controls-theme-plus .google-visualization-controls-categoryfilter .goog-menu-button {
  border:1px solid #303030; 
  background: white;
  background-color: white;
  filter: none;
  height: 30px;
  line-height: 30px;
  min-width: 300px;
  line-height: 27px;
  color: #444;
  font-weight: bold;
  font-size: 16px;  
}

.google-visualization-controls-theme-plus .google-visualization-controls-categoryfilter .goog-menu-button.goog-menu-button-focused {
  border-color: #303030;
}

.google-visualization-controls-theme-plus .google-visualization-controls-categoryfilter .goog-menu-button-outer-box {
  border: 0;
}

.google-visualization-controls-theme-plus .google-visualization-controls-categoryfilter .goog-menu-button-inner-box {
  border: 0;
  padding: 3px 8px;
}

/* CategoryFilter: dropdown icon */
.google-visualization-controls-theme-plus .google-visualization-controls-categoryfilter .goog-menu-button-dropdown {
  background-position: -388px 5px;  /* -388px is for the CSS sprite */
}

/* CategoryFilter: dropdown menu */
/* TODO(battlehorse): the menu is attached to the DOM outside of the control
   itself (at the bottom of the body), so we cannot namespace this style.
   Since the control default style is loaded usually after this style (when
   the controls library is loaded), we force the theme styles with !important
*/
.goog-menu {
  background: #fff !important;
	border:1px solid #ccc !important;
  border-radius: 5px;
  width: 300px;
	white-space: nowrap;
  padding: 0 0 4px 0 ! important;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* CategoryFilter: dropdown menu entries */
.goog-menuitem {
	-moz-transition: background 0.130s;
	-o-transition: background 0.130s;
	-webkit-transition: background 0.130s;
	transition: background 0.130s;  
  line-height: 17px;
  padding-top: 6px ! important;
  padding-bottom: 6px ! important;
}

.goog-menuitem-content {
  color: #333 !important;
}

.goog-menuitem.goog-menuitem-highlight {
  background-color: #eee;
  border: 0 ! important;
}